:root {
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    --swatch-foundation:    #d9d6cc; /* USED FOR BODY BACKGROUND */
    --swatch-primary:       #40454e; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
    --swatch-complement:    #353a44; /* USED IN CONTRAST BACKGROUND FOR TOOLBARS */
    --swatch-contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
    --swatch-accent:        #ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --swatch-text:          #e9edf0; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */ 
    --swatch-text-accent:   #19c8ff; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --font-primary:         'Consolas', sans-serif;
}

#root {
    background-color: var(--swatch-foundation);
    font-family: var(--font-primary);
}

#navbar {
    background-color: var(--swatch-complement);
    box-shadow: 2px 2px 2px var(--swatch-primary); 
    color: rgb(255,200,25);
    font-weight: bold;
    font-size: 15pt;
    font-family: var(--font-primary);
}

#left-sidebar {
    background-color: var(--swatch-complement);
    color: rgb(233,237,240);
}

#left-sidebar-header {
    display:flex;
    border-bottom: dotted;
    font-size: 14pt;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-evenly
}

#todo-list-header-card {
    border-bottom: dotted;
    font-size: 14pt;
    font-weight: bold;
    display:flex;
    align-items: center;
}



#workspace {
    background-color: var(--swatch-primary);
    color: rgb(233,237,240);
}

#title-div {
    /* color: rgb(255,200,25);
    font-weight: bold;
    font-size: 18pt; */
}


#todo-list-table-header {
    border-bottom: dotted;
}
#modal-container{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    z-index:1000;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    height: 100%;
    width: 100%;
}
#modal-content {
    background-color: var(--swatch-complement);
    color:white;
    width:50%;
    position: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position:fixed;
    left:25%;
    top:20%;
}
.delete-text {
    padding:8px;
}
#delete-choices {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#confirm-delete-button {
    display:flex;
    text-align: left;
}
#cancel-delete-button {
    display:flex;
    text-align:right;
}

.list-header-card {
    border-bottom: dotted;
}

.list-item-control {
    cursor: pointer;
}

.list-item-card {
    border-bottom: solid;
    border-width: 1px;
    font-weight: bold;
}

.todo-list-button {
    cursor:pointer;
    background-color: var(--swatch-complement);
    font-weight: bold;
}

.todo-list-button:hover {
    background-color: var(--swatch-contrast);
}

.todo-button {
    cursor:pointer;
    background-color: var(--swatch-complement);
    font-weight: bold;
}

.todo-button:hover {
    background-color: var(--swatch-contrast);
}

#add-list-button {
    color: var(--swatch-accent);
}
#confirm-delete-button:hover {
    cursor:pointer;
    background-color: var(--swatch-contrast);
    text-align: center;
}
#cancel-delete-button:hover {
    cursor:pointer;
    background-color: var(--swatch-contrast);
    text-align: center;
}

.status-incomplete {
    color: var(--swatch-accent);
}

.status-complete {
    color: var(--swatch-text-accent);
}

#add-item-button, #delete-list-button, #close-list-button {
    text-align: center;
}
select.item-col {
    color:white;
    background-color:var(--swatch-primary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
input {
    color:white;
    background-color:var(--swatch-primary)
}
/* .list-item-card:hover {
    background-color:var(--swatch-complement) ;
} */

#todo-list-items-div .list-item-card:hover {
    background-color: #545b66;
}
/* .item-col:hover {
    background-color: grey;
} */
#add-undo-redo-box:hover {
    background-color: var(--swatch-contrast);
    cursor: pointer;
}
#list-control-header {
    background-color: var(--swatch-complement);
    margin-top: 0px;
}
.list-controls-col {
    display:flex;
    justify-content: space-evenly;
}
.yellow {
    color:var(--swatch-accent)
}
.blue {
    color: var(--swatch-text-accent);
}
.highlight {
    background-color: var(--swatch-primary);
}
.disabled {
    opacity:40%;
}

